*{
    margin:0px;
    padding:0px;
}
img{border:0px}
html{
    width:100%;
    height:100%
}
body{
    width:919px;
    margin:0 auto;
}
.float{float:left}
#header{
    display:block;
    float:left;
}
.topnav{
    width:200px;
    float:right;
    border-top:5px solid #E3E1D5;
    padding:17px 0 0 148px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#0D0D0D
}
.topnav a{
    color:#0D0D0D;
    text-decoration:none;
}
.topnav a:visited{text-decoration:none}
.topnav a:hover{text-decoration:underline}
.topnav select{
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#0D0D0D;
    height:18px;
    width:160px;
    margin:0 42px 0 19px;
    float:left;
}
.topnav img{
    float:left;
    margin:0 2px;
}
.topnav span{
    display:block;
    float:right;
    margin:0 10px 0 0
}
#menu{
    display:block;
    float:left;
    margin:53px 0 0 16px;
}
#menu li{
    display:inline;
    list-style-type:none;
}
#menu img{
    float:left;
    margin:0 0 0 1px;
}
#content{
    width:919px;
    overflow:hidden;
    float:left;
    padding:0 0 7px 0;
}
#sidebar{
    width:233px;
    float:left;
    padding:15px 0 0 4px

}
#navigation{
    background-color: #92A117;
    background-image:url(images/sidebar_bg.jpg);
    background-position:top left;
    background-repeat:no-repeat;
    width:220px;
    padding:12px 0 14px 13px;
    font-family:Tahoma, sans-serif;
    font-size:11px;
    color:#0D0D0D;
    border-bottom:1px solid #fff;
}
#navigation li{
    list-style-type:none;
    padding:0 0 2px 0;
    line-height:28px;
}
#navigation a{
    color:#0D0D0D;
    text-transform:uppercase;
    text-decoration:none;
    font-weight:bold;
    display:block;
    width:179px;
    line-height:28px;
    background-image:url(../images/li_bg.jpg);
    background-position:top left;
    background-repeat:no-repeat;
    padding:0 0 0 30px;
}
#cart{
    height:38px;
    line-height:16px;
    margin:65px 0 0 0;
    padding:9px 0 0 50px;
    /*background-image:url(../images/cart_bg.jpg);*/
    background-position:top left;
    background-repeat:no-repeat;
    background-color: #92A117;
}
.categories{
    border:1px solid #BBBBBB;
    border-top:0px;
    padding:25px 0 25px 18px;
    margin:0 0 1px 0
}
.categories li{
    list-style-type:none;
    background-image:url(images/bullet.gif);
    background-position:top left;
    background-repeat:no-repeat;
    padding:0 0 7px 25px;
    line-height:17px;
    height:18px;

    display:block;
}
.categories a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#4B4B4B;
    text-decoration:none;
}
.categories a:visited{text-decoration:none}
.categories a:hover{text-decoration:underline}
.review{
    border:1px solid #BBBBBB;
    border-top:0px;
    padding:28px 0 15px 18px;
    font-family:Tahoma, sans-serif;
    font-size:11px;
    color:#565656;
}
.review a, .item a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#4B4B4B;
    font-weight:bold;
    text-decoration: none;
}
.review a:visited {text-decoration:underline}
.review a:hover, .item a:hover{text-decoration:none}
.review p{
    padding:10px 32px 13px 0;
}
.stars{
    margin:0 0 0 30px;
}
#main{
    width:682px;
    float:left;
}
/* Prevents slides from flashing */
#slides {
    display:none;
}
#inside{
    padding:15px 0 0 17px;
    float:left
}
.info{
    font-family:Tahoma, sans-serif;
    font-size:11px;
    color:#565656;
    padding:17px 0 36px 0;
    overflow:hidden;
    float:left;
}
.info img{
    float:left;
    margin:0 22px 0 0;
}
.more{
    display:block; 
}
.info p{
    width:470px;
    float:left;
    padding:0 0 12px 0
}
.saleprodheader{
    padding: 5px 0px 0px 5px;
    font-size: 25px;
    font-weight: 500;
}
#items{
    float:left;
    padding-top: 20px;
}
.item{
    width:200px;
    height: 220px;
    margin:10px;
    float:left;
}
.item p{
    display:block;
    line-height:23px;
    background-color:#F4F8EE;
    padding:0 0 0 10px;
    float:left;
    width:149px;
}
.price{
    display:block;
    width:40px;
    float:right;
    background-color:#3792AE;
    text-align:center;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    /*font-weight:bold;*/
    line-height:23px;
/*    position: relation;
    bottom:40px;*/

}
.center{
    margin:10px 10px 0 10px;
}
#footer{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#0D0D0D;  
    padding:0 0 25px 0
}
#footer ul{
    padding:27px 0 13px 0
}
#footer li{
    display:inline;
    list-style-type:none;
}
#footer ul a{
    color:#0D0D0D;
    text-decoration:none;
    margin:0 12px;
}
#footer ul a:visited{text-decoration:none}
#footer ul a:hover{text-decoration:underline}
.bft{
    color:#3792AE;
    text-decoration:underline
}
.bft:visited{text-decoration:underline}
.bft:hover{text-decoration:none}
.inner_copy{
    border:0;
    color:#fff;
    float:right;
    width:0.09%!important;
    margin:-100px;
    overflow:hidden;
    line-height:0px;
    padding:0px;
    font-size:11px
}
.loginmotion{
    padding: 30px 30px 0px 275px;
}
.login_motion{
    padding-top: 20px;
}
.regitrationmotion{
    padding: 30px 30px 0px 275px;
}
.container{
    padding-left: 5px;
}
.contactform{
    padding: 20px 0px 0px 275px;
}
.tag {
    background-color:black;
    color:white;
    padding:20px;
}
/*Contact us form CSS*/
.txtcontus{
    background-color:#423E42;
    height: 30px;
    font-size: 200%;
    padding-left: 10px;
    width: 400px;
}
.contusfs{
    padding: 0px;
    width: 365px;
}
/* Slider Styles */
.slidesjs-navigation{
    display: none;
}
.btnsubmit{
    width: 60px;
    height: 30px;
    background-color: #3399FF;
    color: white;    
}
.bonesubmit{
    padding-left:10px;
    padding-top:10px; 
}
.btwosubmit{
    padding-left: 95px;

}
.slide{
    padding-left: 20px
}
/*opacity on login file*/
.transperent {
    opacity: 0.1;
    pointer-events: none;
}
/*Login & registration forms CSS*/
*{
    margin:0;
    padding:0;
}
body{
    font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
    font-size:14px;
    /*background:#f4f4f4 url(../images/bg.gif) repeat top left;*/
    color:#333;
    text-shadow:1px 1px 1px #fff;
    overflow-y:scroll;
}
h1{
    font-size:56px;
}
h2{
    font-size:20px;
    padding:0px 0px 40px 0px;
    color:#aaa;
}
h2 span{
    color:#ffa800;
}
a{
    color:#777;
}
a:hover{
    color:#222;
}
p{
    padding:5px 0px;
}
.wrapper{
    width:960px;
    margin:20px auto;
    min-height:490px;
}
.box{
    width:49%;
}
.left{
    float:left;
}
.right{
    float:right;
}
.clear{
    clear:both;
}
a.back{
    color:#777;
    position:fixed;
    top:5px;
    right:10px;
    text-decoration:none;
}
/* Form Style */
.form_wrapper{
    background:#fff;
    border:1px solid #ddd;
    margin:0 auto;
    width:350px;
    font-size:16px;
    -moz-box-shadow:1px 1px 7px #ccc;
    -webkit-box-shadow:1px 1px 7px #ccc;
    box-shadow:1px 1px 7px #ccc;
}
.form_wrapper h3{
    padding:20px 30px 20px 30px;
    background-color:#444;
    color:#fff;
    font-size:25px;
    border-bottom:1px solid #ddd;
}
.form_wrapper form{
    display:none;
    background:#fff;
}
.form_wrapper .column{
    width:47%;
    float:left;
}
form.active{
    display:block;
}
form.login{
    width:350px;
}
form.register{
    width:550px;
}
form.forgot_password{
    width:300px;
}
.form_wrapper a{
    text-decoration:none;
    color:#777;
    font-size:12px;
}
.form_wrapper a:hover{
    color:#000;
}
.form_wrapper label{
    display:block;
    padding:10px 30px 0px 30px;
    margin:10px 0px 0px 0px;
}
.form_wrapper input[type="text"],
.form_wrapper input[type="password"]{
    border: solid 1px #E5E5E5;
    background: #FFFFFF;
    margin: 5px 30px 0px 30px;
    padding: 9px;
    display:block;
    font-size:16px;
    width:76%;
    background: 
        -webkit-gradient(
        linear,
        left top,
        left 25,
        from(#FFFFFF),
        color-stop(4%, #EEEEEE),
        to(#FFFFFF)
        );
    background: 
        -moz-linear-gradient(
        top,
        #FFFFFF,
        #EEEEEE 1px,
        #FFFFFF 25px
        );
    -moz-box-shadow: 0px 0px 8px #f0f0f0;
    -webkit-box-shadow: 0px 0px 8px #f0f0f0;
    box-shadow: 0px 0px 8px #f0f0f0;
}
.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="password"]:focus{
    background:#feffef;
}
.form_wrapper .bottom{
    background-color:#444;
    border-top:1px solid #ddd;
    margin-top:20px;
    clear:both;
    color:#fff;
    text-shadow:1px 1px 1px #000;
}
.form_wrapper .bottom a{
    display:block;
    clear:both;
    padding:10px 30px;
    text-align:right;
    color:#ffa800;
    text-shadow:1px 1px 1px #000;
}
.form_wrapper a.forgot{
    float:right;
    font-style:italic;
    line-height:24px;
    color:#ffa800;
    text-shadow:1px 1px 1px #fff;
}
.form_wrapper a.forgot:hover{
    color:#000;
}
.form_wrapper div.remember{
    float:left;
    width:140px;
    margin:20px 0px 20px 30px;
    font-size:11px;
}
.form_wrapper div.remember input{
    float:left;
    margin:2px 5px 0px 0px;
}
.form_wrapper span.error{
    visibility:hidden;
    color:red;
    font-size:11px;
    font-style:italic;
    display:block;
    margin:4px 30px;
}
.form_wrapper input[type="submit"] {
    background: #e3e3e3;
    border: 1px solid #ccc;
    color: #333;
    font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0 9px;
    text-align: center;
    width: 150px;
    cursor:pointer;
    float:right;
    margin:15px 20px 10px 10px;
    text-shadow: 0px 1px 0px #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 2px #fff inset;
    -webkit-box-shadow: 0px 0px 2px #fff inset;
    box-shadow: 0px 0px 2px #fff inset;
}
.form_wrapper input[type="submit"]:hover {
    background: #d9d9d9;
    -moz-box-shadow: 0px 0px 2px #eaeaea inset;
    -webkit-box-shadow: 0px 0px 2px #eaeaea inset;
    box-shadow: 0px 0px 2px #eaeaea inset;
    color: #222;
}
//pagination Number CSS
#pager{
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    color: #EEEEEE;
    background: #1d1d1d;
    text-decoration: none;
    text-align: center;
    position: relative;
    float:right;
}
